
body{
  font-family: 'Hal', Halo, monospace;
  background-size: 100%;
}



#videoko {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: auto;
}


.textete {
  padding: 0%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(51, 45, 45, 0.767);
  width: 70%;
  height: 50px;
  margin: auto;
  font-family: 'Hanalei Fill', cursive;
  color: rgb(214, 24, 24);
}
h1{
  text-align: center;
  position: relative;
  color: rgb(230, 16, 16);
  padding: 0%;
  
  
  }
.textecentre{
  background-color: rgba(168, 18, 18, 0.767);
  width: 70%;
  /*height: 850px;*/
  margin: auto;
}
h2{
  text-align: center;
}

.longtext {
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 2%;
  
  font-size: 20px;
}
#lesimage{

text-align: center;
}

.image {
  height: 250px;
  width: 250px;
  border: solid;
}
.yop {
  color: yellow;
  text-align: center;
}

.pe {
  color: black;

}

.jenesaispas {

  color: rgb(214, 24, 24);
  text-align: center;
  width: 70%;
  /*height: 850px;*/
  margin: auto;
  padding: 0%;
  font-family: 'Hanalei Fill', cursive;
  background-color: rgb(51, 45, 45, 0.767);
}

.basbas {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(214, 24, 24, 0.767);
  width: 70%;
  margin: auto
}


.seigneur {
  color: black;
  text-align: center;
  font-family: 'Hanalei Fill', cursive;
}

.vende {
  color: black;
  width: 70%;
  height: 70%;
  text-align: center;
}
#fleche {
    height: 50px;
    position: fixed;
    right: 45px;
    bottom: 10px;
}




/*#scrollUp{
  position: fixed;
  bottom : 10px;
  right: -100px;
  opacity: 0.5;
  }*/